@using RBAT.Logic
@inject DropDownService Options
@{
    Layout = null;
}

@model RBAT.Web.Models.Scenario.ScenarioModel

<div class="modal" id="sEditModal" tabindex="-1" style="z-index : 1051">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="scenarioForm">
                    <input id="projectIDField" type="hidden" name="projectID" value="@Model.ProjectID" />
                    <input id="IdField" type="hidden" name="Id" value="@Model.Id" />
                    <div class="form-group">
                        <input id="nameField" type="text" class="form-control" placeholder="Name" name="Name" value="@Model.Name" />
                    </div>
                    <div class="form-group">
                        <input id="descriptionField" type="text" class="form-control" placeholder="Description" name="Description" value="@Model.Description" />
                    </div>
                    <div class="form-group ">
                        Calculation Time Step:
                        @Html.DropDownList("TimeStepTypeID",
                              Options.ListCalculationTimeSteps().Select(c => new SelectListItem() { Text = c.Name, Value = c.Id.ToString(), Selected = Model.TimeStepTypeID == c.Id }),
                               null,
                               new { @class = "form-control" })
                        <button id="customTimeStepButton" type="button" onClick="openCustomTimeStep(@Model.Id)" class="btn btn-secondary">View</button>
                    </div>
                    <div class="form-group">
                        Calculation Begins:
                        <div class="input-group date " data-provide="datepicker">
                            <input id="CalculationBeginsDate" name="CalculationBeginsDate" data-date-format="YYYY/MM/DD" type="text" class="form-control" value="@Model.CalculationBegins">
                            <div class="input-group-addon">
                                <i class="fas fa-calendar-alt fa-fw" style="line-height: 1em; font-size: 18px; top: 1px;"></i>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        Calculation Ends:
                        <div class="input-group date" data-provide="datepicker">
                            <input id="CalculationEndsDate" name="CalculationEndsDate" data-date-format="YYYY/MM/DD" type="text" class="form-control" value="@Model.CalculationEnds">
                            <div class="input-group-addon">
                                <i class="fas fa-calendar-alt fa-fw" style="line-height: 1em; font-size: 18px; top: 1px;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        Data Time Step:
                        @Html.DropDownList("DataTimeStepTypeID",
                              Options.ListDataReadTypes().Select(c => new SelectListItem() { Text = c.Name, Value = c.Id.ToString(), Selected = Model.DataTimeStepTypeID == c.Id }),
                               null,
                               new { @class = "form-control" })
                    </div>
                    <div class="form-group ">
                        Scenario Type:
                        @Html.DropDownList("ScenarioTypeID",
                              Options.ListScenarioTypes().Select(c => new SelectListItem() { Text = c.Name, Value = c.Id.ToString(), Selected = Model.ScenarioTypeID == c.Id }),
                               null,
                               new { @class = "form-control" })
                    </div>

                    <div class="form-group ">
                        Number Of Look-ahead Time Steps in STO solution(default=0):
                        <input type="hidden" value="@Model.NumberOfLookaheadTimeSteps" id="NumberOfLookaheadTimeStepsValue" />
                        <select class="form-control" id="NumberOfLookaheadTimeSteps" name="NumberOfLookaheadTimeSteps">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                        </select>
                    </div>

                    <div class="form-group ">
                        @Html.CheckBoxFor(m => m.OutflowConstraintsUsed)
                        <b>Outflow Constraints Used</b>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="RbatApp.ModalForm.saveRecord('#scenarioForm','/Scenario/Update')">Save changes</button>
                <button id="close" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="tscShowModal"></div>
<script>
    $(document).ready(function () {
        $('#CalculationBegins').datepicker({ format: "YYYY/MM/DD" });
        $('#CalculationEnds').datepicker({ format: "YYYY/MM/DD" });

        var numberOfLookashead = document.getElementById("NumberOfLookaheadTimeStepsValue").value;
        $("#NumberOfLookaheadTimeSteps").val(numberOfLookashead);
    });

    showHideCustomTimeStepButton();

    $('#TimeStepTypeID').change(function () {
        showHideCustomTimeStepButton();
    })

    function showHideCustomTimeStepButton() {
        if (document.getElementById('TimeStepTypeID').value === '4') {
            document.getElementById('customTimeStepButton').style.display = "block";
        } else {
            document.getElementById('customTimeStepButton').style.display = "none";
        }
    }

    function openCustomTimeStep(scenarioId) {
        $.ajax({
            url: "/CustomTimeStep/Index",
            data: {
                scenarioId: scenarioId
            }
        }).done(function (msg) {
            $("#tscShowModal").html(msg);
            $("#tscModal").modal({
                backdrop: 'static',
                keyboard: false
            });
        });
    }
</script>